In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path_2018 = '../data/2018_data.txt'
file_path_2021 = '../data/2021_data.txt'

df_2018 = pd.read_csv(file_path_2018, delimiter=',')
df_2021 = pd.read_csv(file_path_2021, delimiter=',')

In [3]:
df_2018.head()

  conmedic partyid  region  id age  sex  race  degree
0       .i       5       1   1  43    1     1       2
1        1       2       1   2  74    2     1       1
2        1       4       1   3  42    1     1       3
3        3       2       1   4  63    2     1       3
4        1       6       1   5  71    1     2       4

In [4]:
df_2018.shape

(2348, 8)

In [5]:
df_2021.head()

  conmedic partyid  region  id age sex race degree
0        1       3       1   1  65   2    1      1
1        1       2       1   2  60   1    1      3
2       .i       0       2   3  .n  .n    1      0
3        2       3       2   4  .n  .n    1      0
4       .i       0       1   6  .i   2    2      1

In [6]:
df_2021.shape

(4032, 8)

In [7]:
# there were more respondents in 2021 than in 2018

In [8]:
# clean the 2018 data

In [9]:
miss_val_codes = ['.d', '.i', '.j', '.m', '.n', '.p', '.q', '.r', '.s', '.u', '.x', '.y', '.z']

var = 'id'
df_2018[df_2018[var].isin(miss_val_codes)]

Empty DataFrame
Columns: [conmedic, partyid, region, id, age, sex, race, degree]
Index: []

In [10]:
# no respondents have missing IDs

In [11]:
# the 'conmedic' variable

In [12]:
var = 'conmedic'
df_2018[var].unique().tolist()

['.i', ' 1', ' 3', ' 2', '.n', '.d']

In [13]:
# .i: IAP (Inapplicable) - respondent was asked NOT to respond
# .n: No answer
# .d: Don't know

In [14]:
miss_val_codes = ['.i', '.n', '.d']
for code in miss_val_codes:
    df_2018[var] = df_2018[var].replace(code, np.nan)

In [15]:
df_2018[var].unique().tolist()

[nan, ' 1', ' 3', ' 2']

In [16]:
df_2018[var].value_counts()

 2    790
 1    553
 3    211
Name: conmedic, dtype: int64

In [17]:
# get the # of missing values
len(df_2018) - np.sum(df_2018[var].value_counts().values)

794

In [18]:
# the 'partyid' variable

In [19]:
var = 'partyid'
df_2018[var].unique().tolist()

[' 5', ' 2', ' 4', ' 6', ' 0', ' 3', ' 1', '.n', ' 7']

In [20]:
# .n: No answer

In [21]:
df_2018[var] = df_2018[var].replace('.n', np.nan)

In [22]:
df_2018[var].unique().tolist()

[' 5', ' 2', ' 4', ' 6', ' 0', ' 3', ' 1', nan, ' 7']

In [23]:
df_2018[var].value_counts()

 3    414
 0    379
 1    352
 2    307
 5    272
 4    259
 6    255
 7     77
Name: partyid, dtype: int64

In [24]:
# get the # of missing values
len(df_2018) - np.sum(df_2018[var].value_counts().values)

33

In [25]:
# the 'region' variable

In [26]:
var = 'region'
df_2018[var].unique().tolist()

[1, 2, 9, 3, 5, 7, 8, 4, 6]

In [27]:
df_2018[var].value_counts()

5    513
3    388
9    343
7    277
2    232
8    183
6    163
4    125
1    124
Name: region, dtype: int64

In [28]:
# the 'age' variable

In [29]:
var = 'age'
df_2018[var].unique().tolist()

['43',
 '74',
 '42',
 '63',
 '71',
 '67',
 '59',
 '62',
 '55',
 '34',
 '61',
 '44',
 '41',
 '75',
 '30',
 '40',
 '29',
 '37',
 '56',
 '82',
 '68',
 '20',
 '89',
 '60',
 '65',
 '45',
 '50',
 '52',
 '46',
 '53',
 '22',
 '33',
 '23',
 '28',
 '27',
 '64',
 '79',
 '32',
 '35',
 '21',
 '47',
 '70',
 '77',
 '69',
 '48',
 '81',
 '78',
 '54',
 '58',
 '76',
 '39',
 '38',
 '25',
 '49',
 '18',
 '19',
 '26',
 '57',
 '51',
 '36',
 '72',
 '24',
 '88',
 '66',
 '84',
 '80',
 '31',
 '83',
 '73',
 '86',
 '.n',
 '85',
 '87']

In [30]:
# .n: No answer

In [31]:
df_2018[var] = df_2018[var].replace('.n', np.nan)

In [32]:
df_2018[var].unique().tolist()

['43',
 '74',
 '42',
 '63',
 '71',
 '67',
 '59',
 '62',
 '55',
 '34',
 '61',
 '44',
 '41',
 '75',
 '30',
 '40',
 '29',
 '37',
 '56',
 '82',
 '68',
 '20',
 '89',
 '60',
 '65',
 '45',
 '50',
 '52',
 '46',
 '53',
 '22',
 '33',
 '23',
 '28',
 '27',
 '64',
 '79',
 '32',
 '35',
 '21',
 '47',
 '70',
 '77',
 '69',
 '48',
 '81',
 '78',
 '54',
 '58',
 '76',
 '39',
 '38',
 '25',
 '49',
 '18',
 '19',
 '26',
 '57',
 '51',
 '36',
 '72',
 '24',
 '88',
 '66',
 '84',
 '80',
 '31',
 '83',
 '73',
 '86',
 nan,
 '85',
 '87']

In [33]:
df_2018[var].value_counts()

34    65
39    55
56    50
30    50
53    48
      ..
79     9
81     9
88     8
83     7
87     5
Name: age, Length: 72, dtype: int64

In [34]:
# get the # of missing values
len(df_2018) - np.sum(df_2018[var].value_counts().values)

7

In [35]:
var = 'sex'
df_2018[var].unique().tolist()

[1, 2]

In [36]:
df_2018[var].value_counts()

2    1296
1    1052
Name: sex, dtype: int64

In [37]:
var = 'race'
df_2018[var].unique().tolist()

[1, 2, 3]

In [38]:
df_2018[var].value_counts()

1    1693
2     385
3     270
Name: race, dtype: int64

In [39]:
var = 'degree'
df_2018[var].unique().tolist()

[2, 1, 3, 4, 0]

In [40]:
miss_val_codes = ['.d', '.s']
for code in miss_val_codes:
    df_2021[var] = df_2021[var].replace(code, np.nan)

In [41]:
df_2021[var].unique().tolist()

[' 1', ' 3', ' 0', ' 4', ' 2', nan]

In [42]:
df_2021[var].value_counts()

 1    1597
 3    1036
 4     760
 2     370
 0     246
Name: degree, dtype: int64

In [43]:
# get the # of missing values
len(df_2021) - np.sum(df_2021[var].value_counts().values)

23

In [44]:
# clean the 2021 data

In [45]:
# the 'id' variable

In [46]:
miss_val_codes = ['.d', '.i', '.j', '.m', '.n', '.p', '.q', '.r', '.s', '.u', '.x', '.y', '.z']

var = 'id'
df_2021[df_2021[var].isin(miss_val_codes)]

Empty DataFrame
Columns: [conmedic, partyid, region, id, age, sex, race, degree]
Index: []

In [47]:
# no respondents have missing IDs

In [48]:
# the 'conmedic' variable

In [49]:
var = 'conmedic'
df_2021[var].unique().tolist()

[' 1', '.i', ' 2', ' 3', '.s', '.d']

In [50]:
# .i: IAP (Inapplicable) - respondent was asked NOT to respond
# .s: Skipped on web
# .d: Don't know

In [51]:
miss_val_codes = ['.i', '.s', '.d']
for code in miss_val_codes:
    df_2021[var] = df_2021[var].replace(code, np.nan)

In [52]:
df_2021[var].unique().tolist()

[' 1', nan, ' 2', ' 3']

In [53]:
df_2021[var].value_counts()

 2    1346
 1    1070
 3     246
Name: conmedic, dtype: int64

In [54]:
# get the # of missing values
len(df_2021) - np.sum(df_2021[var].value_counts().values)

1370

In [55]:
# the 'partyid' variable

In [56]:
var = 'partyid'
df_2021[var].unique().tolist()

[' 3', ' 2', ' 0', ' 1', ' 5', ' 7', ' 4', ' 6', '.n']

In [57]:
# .n: No answer

In [58]:
df_2021[var] = df_2021[var].replace('.n', np.nan)

In [59]:
df_2021[var].unique().tolist()

[' 3', ' 2', ' 0', ' 1', ' 5', ' 7', ' 4', ' 6', nan]

In [60]:
df_2021[var].value_counts()

 0    822
 3    817
 1    541
 6    524
 2    471
 5    384
 4    327
 7    114
Name: partyid, dtype: int64

In [61]:
# get the # of missing values
len(df_2021) - np.sum(df_2021[var].value_counts().values)

32

In [62]:
# the 'region' variable

In [63]:
var = 'region'
df_2021[var].unique().tolist()

[1, 2, 9, 3, 5, 7, 8, 4, 6]

In [64]:
df_2021[var].value_counts()

5    800
3    676
9    584
7    426
2    414
8    345
4    314
6    270
1    203
Name: region, dtype: int64

In [65]:
# the 'age' variable

In [66]:
var = 'age'
df_2021[var].unique().tolist()

['65',
 '60',
 '.n',
 '.i',
 '33',
 '20',
 '76',
 '61',
 '37',
 '23',
 '71',
 '21',
 '75',
 '56',
 '22',
 '31',
 '55',
 '53',
 '43',
 '44',
 '32',
 '30',
 '52',
 '34',
 '62',
 '42',
 '29',
 '51',
 '24',
 '26',
 '28',
 '57',
 '45',
 '64',
 '82',
 '58',
 '89',
 '78',
 '50',
 '72',
 '73',
 '49',
 '63',
 '41',
 '66',
 '74',
 '70',
 '46',
 '79',
 '38',
 '68',
 '54',
 '59',
 '25',
 '40',
 '67',
 '84',
 '36',
 '87',
 '35',
 '69',
 '85',
 '39',
 '47',
 '27',
 '48',
 '80',
 '18',
 '81',
 '77',
 '83',
 '19',
 '86',
 '88']

In [67]:
# .n: No answer
# .i: IAP (Inapplicable)

In [68]:
miss_val_codes = ['.n', '.i']
for code in miss_val_codes:
    df_2021[var] = df_2021[var].replace(code, np.nan)

In [69]:
df_2021[var].unique().tolist()

['65',
 '60',
 nan,
 '33',
 '20',
 '76',
 '61',
 '37',
 '23',
 '71',
 '21',
 '75',
 '56',
 '22',
 '31',
 '55',
 '53',
 '43',
 '44',
 '32',
 '30',
 '52',
 '34',
 '62',
 '42',
 '29',
 '51',
 '24',
 '26',
 '28',
 '57',
 '45',
 '64',
 '82',
 '58',
 '89',
 '78',
 '50',
 '72',
 '73',
 '49',
 '63',
 '41',
 '66',
 '74',
 '70',
 '46',
 '79',
 '38',
 '68',
 '54',
 '59',
 '25',
 '40',
 '67',
 '84',
 '36',
 '87',
 '35',
 '69',
 '85',
 '39',
 '47',
 '27',
 '48',
 '80',
 '18',
 '81',
 '77',
 '83',
 '19',
 '86',
 '88']

In [70]:
df_2021[var].value_counts()

67    89
33    82
59    81
57    79
62    77
      ..
19    14
86    14
87     5
88     5
18     4
Name: age, Length: 72, dtype: int64

In [71]:
# get the # of missing values
len(df_2021) - np.sum(df_2021[var].value_counts().values)

333

In [72]:
var = 'sex'
df_2021[var].unique().tolist()

[' 2', ' 1', '.n', '.i', '.s']

In [73]:
# .n: No answer
# .i: IAP (Inapplicable)
# .s: Skipped on web

In [74]:
miss_val_codes = ['.n', '.i', '.s']
for code in miss_val_codes:
    df_2021[var] = df_2021[var].replace(code, np.nan)

In [75]:
df_2021[var].unique().tolist()

[' 2', ' 1', nan]

In [76]:
df_2021[var].value_counts()

 2    2204
 1    1736
Name: sex, dtype: int64

In [77]:
# get the # of missing values
len(df_2021) - np.sum(df_2021[var].value_counts().values)

92

In [78]:
var = 'race'
df_2021[var].unique().tolist()

[' 1', ' 2', ' 3', '.i']

In [79]:
# .i: IAP (Inapplicable)

In [80]:
df_2021[var] = df_2021[var].replace('.i', np.nan)

In [81]:
df_2021[var].unique().tolist()

[' 1', ' 2', ' 3', nan]

In [82]:
# get the # of missing values
len(df_2021) - np.sum(df_2021[var].value_counts().values)

54

In [83]:
var = 'degree'
df_2021[var].unique().tolist()

[' 1', ' 3', ' 0', ' 4', ' 2', nan]

In [84]:
# .d: Don't know
# .s: Skipped on web

In [85]:
miss_val_codes = ['.d', '.s']
for code in miss_val_codes:
    df_2021[var] = df_2021[var].replace(code, np.nan)

In [86]:
df_2021[var].unique().tolist()

[' 1', ' 3', ' 0', ' 4', ' 2', nan]

In [87]:
df_2021[var].value_counts()

 1    1597
 3    1036
 4     760
 2     370
 0     246
Name: degree, dtype: int64

In [88]:
# get the # of missing values
len(df_2021) - np.sum(df_2021[var].value_counts().values)

23

In [122]:
# get the respondent IDs in common
common_ids = pd.merge(df_2018, df_2021, on='id', how='inner')['id'].values.tolist()
len(common_ids)

2136

In [123]:
df_2018_filtered = df_2018[df_2018['id'].isin(common_ids)].copy()
df_2021_filtered = df_2021[df_2021['id'].isin(common_ids)].copy()

In [124]:
df_2018_filtered.head()

  conmedic partyid  region  id age  sex  race  degree
0      NaN       5       1   1  43    1     1       2
1        1       2       1   2  74    2     1       1
2        1       4       1   3  42    1     1       3
3        3       2       1   4  63    2     1       3
5      NaN       2       1   6  67    2     1       3

In [125]:
df_2018_filtered['year'] = 2018

In [126]:
df_2018_filtered.head()

  conmedic partyid  region  id age  sex  race  degree  year
0      NaN       5       1   1  43    1     1       2  2018
1        1       2       1   2  74    2     1       1  2018
2        1       4       1   3  42    1     1       3  2018
3        3       2       1   4  63    2     1       3  2018
5      NaN       2       1   6  67    2     1       3  2018

In [127]:
df_2021_filtered.head()

  conmedic partyid  region  id  age  sex race degree
0        1       3       1   1   65    2    1      1
1        1       2       1   2   60    1    1      3
2      NaN       0       2   3  NaN  NaN    1      0
3        2       3       2   4  NaN  NaN    1      0
4      NaN       0       1   6  NaN    2    2      1

In [128]:
df_2021_filtered['year'] = 2021

In [129]:
df_2021_filtered.head()

  conmedic partyid  region  id  age  sex race degree  year
0        1       3       1   1   65    2    1      1  2021
1        1       2       1   2   60    1    1      3  2021
2      NaN       0       2   3  NaN  NaN    1      0  2021
3        2       3       2   4  NaN  NaN    1      0  2021
4      NaN       0       1   6  NaN    2    2      1  2021

In [130]:
complete_df = pd.concat([df_2018_filtered, df_2021_filtered], axis=0)

In [131]:
complete_df.head()

  conmedic partyid  region  id age sex race degree  year
0      NaN       5       1   1  43   1    1      2  2018
1        1       2       1   2  74   2    1      1  2018
2        1       4       1   3  42   1    1      3  2018
3        3       2       1   4  63   2    1      3  2018
5      NaN       2       1   6  67   2    1      3  2018

In [132]:
complete_df.shape

(4272, 9)

In [133]:
complete_df.to_csv('../data/2018_v_2021_data.csv', index=False)